<div class="container text-center">
    <h1>About Us</h1>
    <p> SoundBeat is a streaming application unlike any other application available right now. </p>
    <p> This application was developed using a model for what users value in their streaming experience.</p>
    <p> This application promises to provide a new wave of experience for streaming digital music.</p>
</div>
