//Include bootstrap 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 
// Heading Styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
// Paragraph Styles
p{
  font-size: 18px;
  font-weight: 500;
}
// Table Styles
tbody{
  overflow: auto;
  height:10px;
}
// Background Style for home page
.navbar, .home-callout {
  background: #2E8B57; 
  
}
// Link Styling
.links{
  color:white;
  size: 16px;
  weight: 350;
  text-decoration: underline;
}

//Navigation bar styling
.navbar {
  border: none;
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
// Home Page Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
